authToken.txt
*.h5
*.xmf
*.npy
*.log
checkIntegrity*.py
__pycache__
slurm*.out
*model_epoch*.pth
log.txt
model/training_logs
Logs_from_the_cloud/*/*/*.png
Logs_from_the_cloud/*/*/*.xcf
!Logs_from_the_cloud/Friday-24-11-2023-2/model_checkpoints/model_epoch_30.pth
!Logs_from_the_cloud/Wednesday-06-12-2023/model_checkpoints/model_epoch_120.pth
!Logs_from_the_cloud/Wednesday-06-12-2023-2/model_checkpoints/model_epoch_120.pth
!Logs_from_the_cloud/Thursday-07-12-2023-6/model_checkpoints/model_epoch_120.pth
model/49x16data
model/49x18data
model/192x64data
model/data_RANS
model/data/all_data/validaiton
model/data/all_data/test
model/data/all_data/train
model/test_logs/FinalReportTests/Disregard
model/*png
