authToken.txt
*.h5
*.xmf
*.npy
*.log
checkIntegrity*.py
__pycache__
slurm*.out
*model_epoch*.pth
log.txt
model/training_logs
!Logs_from_the_cloud/Friday-24-11-2023-2/model_checkpoints/model_epoch_30.pth
model/49x16data
